# RStudio files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata

*             # ignore all files
!work_flow.Rmd  # except this file
!scripts/
!scripts/work_flow.Rmd
!scripts/visuals/
!scripts/visuals/**